Support Bool Values In VPropertyEncodable

In iCal `X-` extensions  are some, like the `-ALLDAY` flags (Like `X-FUNAMBOL-ALLDAY` and `X-MICROSOFT-CDO-ALLDAYEVENT`), that are of boolean type. That is why I'm proposing to enable support of Bool values in the VComponent adding the following extension.

```
extension Bool: VPropertyEncodable {
    public var vEncoded: String {
        self ? "1" : "0"
    }
}
```

After testing the Boolean output the specific key of `X-MICROSOFT-CDO-ALLDAYEVENT` was not working on a windows machine specifically with Outlook Calendar. Although the other key `X-FUNAMBOL-ALLDAY` seems to be using 1 and 0 as the value there aren't any documents that defines it. On the other hand [https://www.rfc-editor.org/rfc/rfc2445.txt](RFC2445) defines the use of `"TRUE"`and `"FALSE"` which are actually in use by the Microsoft's Calendar a far more popular calendar handler.

That is why I'm opening again the issue and pushing a Hotfix.

After testing the Boolean output the specific key of `X-MICROSOFT-CDO-ALLDAYEVENT` was not working on a windows machine specifically with Outlook Calendar. Although the other key `X-FUNAMBOL-ALLDAY` seems to be using 1 and 0 as the value there aren't any documents that defines it. On the other hand [https://www.rfc-editor.org/rfc/rfc2445.txt](RFC2445) in section 4.3.2 Boolean defines the use of `"TRUE"`and `"FALSE"` which are actually in use by the Microsoft's Calendar a far more popular calendar handler.

**Note**: After further investigation the same values are used in [RFC 5545 Section 3.3.2.](https://icalendar.org/iCalendar-RFC-5545/3-3-2-boolean.html)

That is why I'm opening again the issue and pushing a Hotfix. If it becomes necessary the integration of FUNAMBOL's `1` and `0` an extra enum could be created in the future to support it.